body {
  font-family: "Poppins", sans-serif;
}

/* --------------------
     Players List
-------------------- */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: 1050px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player img {
  width: 330px;
}
